.with-back {
  background: black;
  color: white;
}

.node-selected {
  background: #4f4f4f;
}

.node-right-overlapped {
  background: linear-gradient(to right, black, gray);
}

.node-left-overlapped {
  background: linear-gradient(to left, black, gray);
}

.node-top-overlapped {
  background: linear-gradient(to top, black, gray);
}
