svg {
  page-break-after: always;
}

.root-node {
  border: solid 1px #7f7f7f;
  border-radius: 5px;
  background : #ffffff;
  padding: 4px 3px 4px 4px;
}

.node {
  border-bottom: solid 1px #7f7f7f;
  padding: 4px 3px 1px 4px;
}

.node-selected {
  background: #cfcfcf;
}

.node-right-overlapped {
  background: linear-gradient(to right, white, gray);
}

.node-left-overlapped {
  background: linear-gradient(to left, white, gray);
}

.node-top-overlapped {
  background: linear-gradient(to top, white, gray);
}

foreignObject {
  overflow: visible;
}

/* textのspanに適用 */
.disable-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px;

  /* ADHOC (改行対策) */
  white-space: nowrap;
}


/* input file style */
textarea {
  padding: 0 5px 0;
  font-size: 1.0em;
  color: #000;
  border: 1px solid #999999;
  margin: 0 0 4px;
  
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
  resize: none;
  display: block;

  text-align:right;
}

.text-input-right {
  text-align: left;
}

.text-input-left {
  text-align: right;
}

textarea:focus {
  outline: none;
}
